@import "../../styles/variables";

.main{
  .header{
    margin-top: 40px;
    text-align: center;
  }
}

.lab-container{
  transition: scale .4s ease;
  &:hover{
    scale: 1.1;
  }
  a{
    text-decoration: none;
    color: $textHeaderColor;
    &:hover{
      cursor: pointer;
    }
  }
}