
$backgroundMain: #EEF2F7;
$purpleColor:#8e6ed6;
$greyColor:#8798aa;
$purpleLightColor:#beb0f4;
$textColor:#585a83;
$textHeaderColor:#32325c;
$whiteColor:#ffffff;

$defaultFont:'Courier New', Courier, monospace;

$containerShadow:2px 0 10px 0 rgb(50 50 92 / 15%);