@import "../../../styles/variables";

.container{
  margin-top: 20px;
  padding: 15px;
  background: $whiteColor;
  border: 2px solid $purpleLightColor;
  border-radius: 20px;
  box-shadow: $containerShadow;
  color:$textHeaderColor;
  h2{
    font-weight: bold;
  }
  p{
    font-size: 1.2rem;
    color: $textColor;
  }
}